@import "tailwindcss";

:root {
  /* b&w */
  --eerie: hsla(0, 0%, 13%, 1);
  --onyx: hsla(210, 1%, 16%, 1);
  --jet: hsla(210, 2%, 19%, 1);
  --space: hsla(210, 9%, 31%, 1);
  --slate: hsla(208, 7%, 46%, 1);
  --orangey: hsla(28, 56%, 55%, 1);
  --vermillion: hsla(4, 92%, 60%, 1);
  --cadet: hsla(195, 16%, 56%, 1);
  --buff: hsla(28, 53%, 68%, 1);
  --puff: hsla(214, 17%, 71%, 1);
  --peach: hsla(41, 64%, 77%, 1);
  --flax: hsla(57, 68%, 78%, 1);
  --chiffon: hsla(53, 76%, 87%, 1);
  --beige: hsla(66, 64%, 94%, 1);
  --honeydew: hsla(102, 21%, 88%, 1);

  --platinum: hsla(209, 35%, 87%, 1);
  --ghost: hsla(209, 23.33%, 91.33%, 1);
  --powder: hsla(192, 24%, 92%, 1);
  --smoke: rgb(239, 240, 240);
  /* font */
  --monda: 'Monda', 'sans-serif';
  --barlow: 'Barlow', 'sans-serif';
}

html[data-theme="dark"] body {
  --canvas: linear-gradient(148deg,
      black 0%,
      var(--eerie) 81%,
      var(--onyx) 100%);

  background: var(--canvas);
  --background: black;
  --text: white;
  --text-50: var(--platinum);
  --primary: var(--orangey);
  --primary-50: var(--buff);
  --secondary: var(--cadet);
  --secondary-50: var(--puff);
  --accent: var(--peach);
  --accent-50: var(--chiffon);
  --alert: var(--vermillion);
  --alert-50: var(--flax);
}

html[data-theme="light"] body {
  --canvas: linear-gradient(330deg,
      hsla(209, 0%, 100%, 1) 0%,
      hsla(209, 13.33%, 98.33%, 1) 26%,
      hsla(209, 23.33%, 91.33%, 1) 86%,
      hsla(209, 35%, 87%, 1) 100%);

  background: var(--canvas);
  --background: white;
  --text: black;
  --text-50: var(--jet);
  --primary: var(--buff);
  --primary-50: var(--orangey);
  --secondary: var(--puff);
  --secondary-50: var(--cadet);
  --accent: var(--chiffon);
  --accent-50: var(--peach);
  --alert: var(--flax);
  --alert-50: var(--vermillion);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100dvw;
  overflow-x: hidden;
  background: var(--canvas);
  color: var(--text);
  font-family: var(--barlow);
  font-weight: 400;
}

button {
  background-color: transparent;
  color: var(--text);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: outline 0.3s ease;
}

button:hover {
  outline: 1px solid var(--accent);
  outline-offset: 0.5rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--text);
}

a:hover {
  text-decoration: underline;
  color: var(--text-50);
  cursor: pointer;
}
