.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.book-title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-align: center;
}

.book-author {
    color: #555;
    margin-bottom: auto;
    text-align: center;
}

.book-link {
    margin-top: 1rem;
    text-decoration: none;
    color: var(--primary);
    font-weight: 500;
    border: 1px solid var(--primary);
    color: var(--text);
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in-out;
  }
  
  .book-link:hover {
    background-color: var(--primary);
    color: var(--background);
  }
